<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %> | BookNest Admin</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="admin-body">
    <%- include('../partials/navbar') %> <%- include('../partials/notification')
    %>

    <div class="admin-container">
      <%- include('../partials/sidebar') %>

      <main class="admin-content">
        <div class="content-header">
          <h1><%= title %></h1>
          <div class="breadcrumbs">
            <a href="/admin">Home</a> > <span><%= title %></span>
          </div>
        </div>
        <%- body %>
      </main>
    </div>

    <%- include('../partials/footer') %>
    <script src="/js/utilities.js"></script>
    <script src="/js/dashboard.js"></script>
  </body>
</html>
